@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=JetBrains+Mono:wght@300&display=swap");

html,
body {
  min-height: 100vh;
  position: relative;
  text-align: center;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
a {
  font-family: "JetBrains Mono", monospace;
}

p,
button,
label,
span {
  font-family: "IBM Plex Sans", sans-serif;
}

.btn {
  margin: 1rem 0 0.5rem 0.8rem;
  width: 100px;
  height: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  border: 2px solid #9499f1;
  background-color: #eaebfc;
  font-weight: bold;
  cursor: pointer;
}

.content-container {
  padding-bottom: 8rem;
}

.logo-pages {
  margin-top: 10px;
  display: block;
  width: 300px;
  height: 125px;
}

.form-label {
  display: block;
  text-align: left;
  text-transform: capitalize;
  font-weight: bold;
}

.form-input {
  height: 2rem;
  border-radius: 5px;
  width: 100%;
  border: 2px solid #9499f1;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding-left: 0.3rem;
}

.form-input:focus {
  outline: none !important;
  border: 2px solid #2932e2;
  box-shadow: 0 0 10px #719ece;
}

.form-row {
  margin: 1rem 0 1rem 3.7rem;
  width: 75%;
  border-radius: 10px;
}

/* NAVBAR */

nav {
  display: flex;
  justify-content: space-between;
  background-color: #2932e2;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 0 0 10px 10px;
}

.logo {
  width: 150px;
  height: 60px;
  margin: 1.5rem 3rem;
}

.routing {
  color: white;
  display: block;
  position: absolute;
  top: 85px;
  left: 55px;
}

.nav-list {
  list-style: none;
  display: flex;
  margin: 2rem 5rem;
}

.nav-list-item {
  margin: 1rem 1rem 1rem 2rem;
}

.nav-link {
  color: white;
}

.log-btn {
  height: 25px;
  margin-right: 14px;
  background-color: #d4d6f9;
  padding: 0 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 0.5rem;
  position: relative;
  color: #2932e2;
}

.dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.show-dropdown {
  visibility: visible;
}

.dropdown-btn {
  width: 5.2rem;
  border: 1px solid #7f84ee;
  border-radius: 5px;
  margin-top: 3px;
  background-color: #d4d6f9;
  font-weight: 600;
  color: black;
  cursor: pointer;
}

.dropdown-btn a {
  color: black;
}

.dash-link {
  margin-top: 0;
}

.log-btn-container {
  position: relative;
}

.bars {
  display: none;
  position: fixed;
  width: 50px;
  height: 50px;
  right: 20px;
  top: 30px;
  background-color: #2932e2;
  color: white;
  border: none;
  cursor: pointer;
}

.nav-list-container-bars {
  visibility: hidden;
  display: block;
  position: fixed;
  top: 112px;
  right: -250px;
  width: 200px;
  min-height: 100vh;
  height: 100%;
  background-color: white;
  transition: 0.3s;
  padding: 0 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px 0 0 20px;
  border: 2px solid #2932e2;
}

.visible {
  visibility: visible;
  right: 0;
}

/* HOME */

.home {
  text-align: center;
  margin-top: 5rem;
}

.logo-container {
  display: inline-block;
  width: 25%;
  height: 20rem;
  margin: 0 2rem 4rem;
  text-align: left;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
  border: 2px solid #2932e2;
  padding: 3px;
}

.home-par {
  font-weight: bold;
  font-size: 1.5rem;
  position: relative;
  top: 1rem;
  padding-left: 0.7rem;
}

.home-img {
  width: 40rem;
  margin: 5rem 2rem 0 3rem;
}

.btn-container {
  position: relative;
  top: 1rem;
}

/* FOOTER */

footer {
  background-color: #2932e2;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6rem;
  text-align: center;
  border-radius: 10px 10px 0 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.footer-container {
  margin-top: 2rem;
  color: #9499f1;
}

.footer-container a {
  color: #9499f1;
  padding: 1rem;
}

.footer-container a:hover {
  opacity: 0.7;
}

.footer-icons {
  margin: 0.5rem;
}

/* REGISTER */

.register {
  margin: auto;
  margin-top: 3rem;
  max-width: 30rem;
  border: 2px solid #9499f1;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.register .logo-pages {
  margin: auto;
}

.member-btn {
  border: none;
  background-color: inherit;
  text-decoration: underline;
  margin-left: 0.3rem;
  cursor: pointer;
}

/* ALERTS */

.alert {
  width: 75%;
  margin: auto;
  margin-top: 0.3rem;
  height: 2.5rem;
  padding-top: 0.5rem;
  border-radius: 10px;
  border: 2px solid;
  font-family: "JetBrains Mono", monospace;
}

.alert-success {
  border-color: #61f3ac;
  background-color: #dffdee;
}

.alert-danger {
  border-color: #f36161;
  background-color: #fddfdf;
}

/* ERROR PAGE */

.not-found {
  width: 600px;
  margin-top: 10rem;
}

.error-heading {
  margin: 15px;
  font-size: 2rem;
}

.error-text {
  margin-bottom: 5px;
}

.error-link {
  color: #719ece;
}
/* MEDIA QUERIES */

@media (max-width: 890px) {
  .routing {
    top: 85px;
  }

  .logo {
    margin-top: 1.5rem;
  }

  .logo-container {
    width: 50%;
  }

  .btn-container {
    top: -1rem;
  }

  .home-par {
    top: 0;
  }
  .nav-list-container {
    display: none;
  }

  .nav-list {
    flex-wrap: wrap;
    margin-left: 0;
    text-align: left;
  }

  .nav-link {
    color: #2932e2;
  }

  .log-btn-container {
    margin-left: 20px;
  }

  .bars {
    display: inline;
  }
}
